
@{
    ViewData["Title"] = "AboutUS";
}

<div class="text-center">
    <img src="~/Images/ddddd.png" style="width:320px; height:150px" />
    <h2 class="display-4">Wireless Intrusion Detection System</h2>
    <br />
    <div style="width:1100px;" class="text-center">
        <p>Prepared by:</p>
        <p>Tamer M. Ahmad  120147035</p>
        <p>Abdulrahman K. Hussein  120157006</p>
        <p>Mohammad E. Salah  120157520</p>
        <br />
        <p>Supervised by:</p>
        <p>Eng. Alaa Ahmad</p>
    </div>
</div>

