@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <img src="~/Images/WIDS Logo2.png" style="width:285px; height:225px" />
        <h2 class="display-4">Welcome To WIDS Website</h2>
        <br />
        <div style="width:1100px;" class="text-center">
            <p>
                An Wireless Intrusion Detection System (WIDS) is a software or hardware tool used to detect unauthorized access of a computer system or network. wireless IDS perform this task
                exclusively for the wireless network.
            </p>
        </div>
    </div>
